.masthead-title {
    font-size: 3em;
}

.nav-list a:hover, .nav-list a:focus {
    text-decoration: overline;
}

.nav {
    text-align: center;
    font-size: 1.5em;
}

.profilepic {
    margin: 0 auto;
}